version: '3'
services:
  mysql_db:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: mysql:5.7
    environment:   # Set up mysql database name and password
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: employees
      MYSQL_USER: user
      MYSQL_PASSWORD: password
